html, body {
    background-color: rgb(38, 50, 61);
    color: white;
    text-align: center;
    font-size: xx-large;
}

main {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.main-element {
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(46, 73, 98);
}