html, body {
    background-color: rgb(38, 50, 61);
    color: white;
    text-align: center;
    font-size: xx-large;
}

header {
    display: flex;
    justify-content: space-between;
    height: auto;
}
.menu {
    padding: 50px;
    margin-right: 65px;
    text-decoration : none;
}

.menu a{
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.main-element {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(46, 73, 98);
}

.main-element:hover {
    background-color: rgb(47, 96, 143);
    transform: scale(1.05);
}

/* @media (max-width: 1300px) {
    body {
      font-size: 14px;
    }
    .container {
      padding: 10px;
    }
  }

  @media (max-width: 800px) {
    body {
      font-size: 12px;
    }
    .container {
      padding: 8px;
    }
  }

  @media (max-width: 550px) {
    body {
      font-size: 8px;
    }
    .container {
      padding:6px;
    }
  } 